
*{
	margin:0;
	padding:0;
	}

ol,ul,li{
	list-style:none;
	text-transform:capitalize;
}

a{
	text-decoration:none;
	color:#fff;
}

.clear {clear:both; *display:inline;/*IE only*/}

/*menu*/
#menu {margin:0px auto; display:block; width:100%; height:34px;background:#3f240e;position: absolute;}
#nav {display:block;}
#nav .mainlevel {float:left;  text-align:center; display:block;}
#nav .mainlevel a {color:#fff; text-decoration:none; line-height:34px; height:34px; text-align:center; padding:0 15px; display:block; _width:48px;}
#nav .mainlevel a:hover {color:#3f240e; text-decoration:none; background:#678900  0 0 repeat-x;}
#nav .mainlevel ul {position:absolute; display:none; *width:2000px;/*IE is great need, width>=li.length*/}
#nav .mainlevel li {float:left; clear:left;background:#3f240e;width:105px;}
#nav .mainlevel li a {padding:0 12px; line-height:24px; height:24px; display:block; _padding-bottom:6px;/*IE6 only*/}
#nav .mainlevel li a:hover {color:#3f240e; text-decoration:none; background:#678900  0 0 repeat-x;}
#nav li a em/*input an em tag as a space*/ {padding:0 3px;}
.Triangle_con {height:0px; background: 36px 0 no-repeat; display:block; _margin-bottom:-6px;/*IE6 only*/}

#author-png{
	height: 30px;
	width: 30px;
}

.slide-nav-items img{
	width: 18px;
	height: 18px;
}

.mainlevel img{
	padding-right: 4px;
	width: 25px;
	height: 25px;
}

.slide-nav{
	position: absolute;
	width: 150px;
	margin-top: 34px;
	background:#3f240e;
}

.slide-nav-items{
	display: block;
	margin:10px 5px 10px 15px;
}

.slide-nav-items a{
	text-align:center;
	}
.slide-nav-items img{
	vertical-align:middle;
}