
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea,img,p{
	margin:0;
	padding:0;
	}

ol,ul,li{
	list-style:none;
}

a{
	text-decoration:none;
}

a:link {color:black;}
a:visited {color:black;} /* 已被访问的链接 */
a:hover {color:black;}   /* 鼠标指针移动到链接上 */
a:active {color:black;}  /* 正在被点击的链接 */


.slidebar{
	float:left;
	position:fixed;
	height:100%;
	width:7.5%;
	margin-top:30px;
	background:url(../image/defaultSkin.png) repeat-y;
}

.slidebar-items{
	float:left;
	clear:left;
	cursor:pointer;
}

.slidebar-items img{
	height:18px;
	width:18px;
	margin:8px 8px;
}

.slidebar-items p{
	margin-top:8px;
	text-align:center;
	margin-left:5px;
}
  
.slidebar-items img,p{
	float:left;
}
  
  
.public-header{ 
    position:fixed;
	height:30px;
    width:100%;
    margin:0 auto;
	background:url(../image/defaultSkin.png) repeat-x;
	z-index:10;
   }

.authorclass{
	float:left;
	cursor:pointer;
}
   
.authorclass img{
	height:20px;
	width:20px;
}   
   
.myfontclass img{
	height:20px;
	width:20px;
}   

.skinclass img{
	height:20px;
	width:20px;
}    
 
.authorclass p{
	text-align:center;
	margin-left:10px;
}
   
.authorclass img,p{
	display:block;
	float:left;
}   
   
.skinclass{
	float:left;
}

.skinList{
	float:left;
	clear:left;
	position:absolute;
	margin-top:30px;
	margin-left:150px;
	background-color:#E3E3E3;
    visibility:hidden;
}


.fontList{
	float:left;
	clear:left;
	position:absolute;
	margin-top:30px;
	margin-left:230px;
	background-color:#E3E3E3;
    visibility:hidden;
}

.skin-items{
	cursor:pointer;
}   
   
.skinclass img,p{
	display:block;
	float:left;
}	
   
.skinclass p{
	text-align:center;
	margin-left:10px;
}   
   
.myfontclass{
	float:left;
}

.myfontclass img,p{
	display:block;
	float:left;
}

.myfontclass p{
	text-align:center;
	margin-left:10px;
}

.myfont-items{
	cursor:pointer;
}

.public-header ul li{
	margin:6px 10px;
}


.engine{
	display:block;
	float:left;
	width:92.5%;
	height:96%;
	position:absolute;
	margin-top:30px;
	margin-left:120px;
}
